.selectboxInput {
    width: 155px;
    height: 32px;
    border: 1px solid var(--reGray3);
    background-color: var(--reGray6);
    background-image: url(../img/arrow-00.png);
    background-position: calc(100% - 8px) center;
    background-repeat: no-repeat;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
    color: var(--fontDefaultColor);
    padding-left: 12px;
    margin-right: 8px;
    outline: none;
    margin-bottom: 8px;
    appearance: none;
}

.selectDate {
    width: 160px;
    height: 32px;
    border: 1px solid var(--reGray3);
    background-color: var(--reGray6);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 13px;
    font-weight: 400;
    color: var(--fontDefaultColor);
    padding-left: 12px;
    outline: none;
    margin-bottom: 8px;
    line-height: 32px;
    /*position: absolute;*/
    z-index: 9994;
    left: 0px;
    background-image: url("../img/arrow-00.png");
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
    appearance: none;
}

.grayFont {
    color: #4d5256 !important;
}

.checked {
    background: url(../) center left no-repeat;
}