@import url(common.css);

.tit_h3 {
    padding: 30px 0 13px 30px;
    font-size: 18px;
    color: #1c2b91
}

.bg_box {
    position: relative;
    padding: 0 30px 30px 30px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0 rgba(235, 235, 235, .5);
    border: solid 1px #f7f7f7;
    background-color: #fff
}

.pos_rel {
    position: relative
}

.pos_l {
    position: absolute;
    left: 0
}

.pos_r {
    position: absolute;
    right: 0
}

.txt_c1 {
    color: #116bff !important
}

.contents .tit_h3:first-of-type {
    padding-top: 0
}

.ui-resizable {
    top: 0 !important
}

.ui-resizable-w {
    position: fixed;
    left: 0 !important;
    top: 0 !important;
    width: 18px !important;
    height: 100% !important;
    border-radius: 4px 0 0 4px;
    background-color: #c9cad1
}

.ui-resizable-w:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 3px;
    height: 20px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background-color: #c9cad1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.mark_area [class^=ty] {
    display: inline-block;
    width: 32px;
    height: 20px;
    margin-left: -2px;
    border-radius: 2px;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    color: #fff
}

.mark_area [class^=ty2_r] {
    width: 42px;
    border-radius: 20px
}

.mark_area .ty_etc {
    background-color: #8565ff
}

.mark_area .ty_es {
    background-color: #65c9ff
}

.mark_area .ty_rf {
    background-color: #92de81
}

.mark_area .ty_mr {
    background-color: #eb8b00
}

.mark_area .ty_ct {
    background-color: #f9c46a
}

.mark_area .ty_mg {
    background-color: #116bff
}

.mark_area .ty_cr {
    background-color: #00c6cb
}

.mark_area .ty2_r1 {
    background-color: #ff8146
}

.mark_area .ty2_r2 {
    background-color: #116bff
}

.mark_area .ty2_r3 {
    background-color: #ff336d
}

.calendar_area .ipt_area {
    display: inline-block;
    position: relative;
    vertical-align: top
}

.calendar_area .ipt_area:after {
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
    background: url(../../../img/sp_common.png) no-repeat -140px -50px;
    transform: translateY(-50%)
}

.calendar_area .unit {
    display: inline-block;
    padding: 0 4px;
    line-height: 36px
}

.paginate {
    margin-top: 24px;
    text-align: center
}

.paginate a, .paginate strong {
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    color: #1c2b91
}

.paginate strong {
    background-color: #eeeffb;
    font-weight: 600
}

.paginate .btn_arr {
    width: 22px;
    height: 22px;
    margin: 0;
    background: url(../../../img/sp_common.png) no-repeat 0 -50px
}

.paginate .first {
    margin-right: 4px;
    background-position: 0 -50px
}

.paginate .prev {
    margin-right: 4px;
    background-position: -22px -50px
}

.paginate .next {
    margin-left: 4px;
    background-position: -44px -50px
}

.paginate .last {
    background-position: -66px -50px
}

.page_select {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 11px;
    line-height: 22px;
    color: #717171
}

.page_select .sel {
    width: 44px;
    height: 22px;
    padding: 0 6px;
    font-size: 12px;
    background-position: 15px -6px
}

.area_flex {
    padding: 14px
}

.area_flex [class^=col] {
    margin-bottom: 20px
}

.area_flex [class^=col_] {
    -webkit-display: flex;
    display: flex
}

.area_flex [class^=col]:last-of-type {
    margin-bottom: 0
}

.area_flex [class^=col] dl {
    -webkit-flex: 1;
    flex: 1
}

.area_flex [class^=col_] dl dt {
    margin-bottom: 8px
}

.area_flex [class^=col_].col3 dl:first-child {
    -webkit-flex-grow: 2;
    flex-grow: 2
}

.area_flex .col dl dt, .area_flex .col dl dd {
    display: inline-block
}

.area_flex .col dl dt {
    padding-right: 16px
}

.area_flex dl dt {
    font-weight: 700;
    color: #1c2b91
}

.area_flex .textarea {
    height: 108px
}

.main_cont {
    position: relative;
    width: calc(100% - 560px);
    height: 100%;
    padding: 34px 24px;
    background-color: #f4f4f5
}

.main_cont .search_area {
    margin-bottom: 2px;
    text-align: right
}

.main_cont .search_area .ipt, .main_cont .search_area button {
    width: 142px
}

.main_cont .search_area.clearfix {
    margin-bottom: 30px;
    text-align: left
}

.main_cont .search_area.clearfix .sel {
    width: 142px
}

.main_cont .search_area.clearfix .fl {
    padding-left: 24px
}

.main_cont .search_area.clearfix .fl .calendar_area {
    display: inline-block
}

.main_cont .search_area.clearfix .fr {
    text-align: right
}

.main_cont .bg_box .btn_area {
    padding: 20px 0 18px 0;
    text-align: right
}

.main_cont .bg_box .btn_area button {
    margin-left: 16px
}

.main_cont .bg_box .btn_area button.pos_l {
    left: 55px;
    margin-left: 0
}

.main_cont .page_select {
    bottom: 30px
}

.aside_cont {
    overflow-y: auto;
    position: absolute !important;
    right: 0;
    top: 0;
    width: 560px;
    height: 100%;
    border-radius: 4px 0 0 4px;
    z-index: 99
}

.aside_cont .bg_box {
    width: calc(100% - 16px);
    height: 100%;
    margin-left: 16px;
    padding: 40px 24px;
    border-radius: 0;
    border: none;
    background-color: #221f3a;
    box-shadow: 0 0 0 0;
    color: #fff
}

.aside_cont .tit_h3 {
    padding: 0 0 24px 24px;
    color: #fff
}

.aside_cont .tit_h3 .desc {
    padding-left: 8px;
    font-size: 13px;
    font-weight: 500;
    color: #8a85a7
}

.aside_cont .tit_h3.pos_rel .mark_area {
    position: absolute;
    right: 0;
    top: 2px;
    height: 20px
}

.aside_cont .tit_h3.pos_rel .mark_area [class^=ty] {
    display: block;
    font-size: 13px;
    font-weight: 400
}

.aside_cont .area {
    padding: 24px 24px 40px 24px;
    border-radius: 4px;
    border: 1px solid #322e51;
    background-color: #26233e
}

.aside_cont .tbl_wrap {
    border-bottom: none
}

.aside_cont .tbl_wrap.scroll {
    height: 399px;
    overflow-y: auto
}

.aside_cont .form_area {
    margin-top: 40px
}

.aside_cont .rdo_area {
    width: 100%
}

.aside_cont .rdo_area dt, .aside_cont .rdo_area dd {
    display: inline-block
}

.aside_cont .rdo_area dt {
    width: 90px;
    color: #8a85a7
}

.aside_cont .rdo_area dd label {
    margin-right: 40px
}

.aside_cont .rdo_area:first-of-type {
    margin-bottom: 20px
}

.aside_cont .btn_area {
    margin: 30px 0
}

.aside_cont .btn_area button {
    width: 149px
}

.aside_cont .area.loading_area {
    padding: 19px 29px 26px 29px
}

.aside_cont .area.loading_area .txt {
    margin-bottom: 14px;
    text-align: center;
    color: #8a85a7
}

.aside_cont .loading {
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background-color: #2f2b4c
}

.aside_cont .loading .len {
    position: absolute;
    left: 0;
    top: 0;
    width: 1%;
    height: 5px;
    border-radius: 4px;
    background-color: #fff
}

.aside_cont.list .bg_box {
    padding: 34px 24px 28px 24px
}

.aside_cont.list .tit_h3 {
    padding: 0 0 13px 24px
}

.aside_cont.list .tit_h4 {
    padding: 20px 0 8px 0;
    color: #8a85a7
}

.aside_cont.list .tit_h4:first-of-type {
    padding-top: 0
}

.aside_cont.list .area {
    padding: 24px
}

.aside_cont.list .area_flex {
    border-radius: 4px;
    background-color: #2f2b4c
}

.aside_cont.list .area_flex dt {
    color: #8a85a7
}

.aside_cont.list .textarea {
    border: none;
    background-color: #2f2b4c;
    color: #fff
}

.dim_layer {
    position: fixed;
    left: -9999px;
    top: -9999px;
    z-index: 9999
}

.dim_layer.active {
    position: fixed;
    left: 0;
    top: 0
}

.dim_layer.active .dimmed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999
}

.dim_layer.active .pop_wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #fff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9999
}

.dim_layer.active .tit_h2 {
    margin-bottom: 24px;
    padding-left: 24px;
    font-size: 18px;
    color: #1c2b91
}

.pop_wrap.merge {
    width: 1178px;
    padding: 30px 24px
}

.pop_wrap.merge .tit_h2 {
    margin-bottom: 10px
}

.pop_wrap.merge .pop_head .txt {
    padding: 0 0 23px 25px;
    font-size: 11px;
    color: #116bff
}

.pop_wrap.merge .btn_area {
    margin-top: 40px
}

.pop_wrap.merge .btn_area button {
    width: 202px
}

.pop_wrap.merge .btn_txt.reset {
    position: absolute;
    right: 24px;
    top: 70px
}

.pop_wrap.detail {
    width: 544px;
    padding: 24px 24px 30px 24px
}

.pop_wrap.detail .tit_h3 {
    padding: 19px 0 8px 0;
    font-size: 14px
}

.pop_wrap.detail .tit_h3:first-of-type {
    padding-top: 0
}

.pop_wrap.detail .pop_head {
    position: relative
}

.pop_wrap.detail .pop_head .btn_txt.delete {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.pop_wrap.detail .pop_cont, .pop_wrap.detail .pop_cont .area_flex {
    border-radius: 4px;
    border: 1px solid #dedede
}

.pop_wrap.detail .pop_cont {
    padding: 24px 24px 42px 24px
}

.pop_wrap.detail .pop_cont .textarea {
    height: 100px
}

.pop_wrap.detail .btn_area {
    margin-top: 40px
}

.pop_wrap.detail .btn_area button {
    width: 202px
}

h1.join {
    padding-top: 8%;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: var(--fontDefaultColor)
}

h1.join + p {
    font-size: 15px;
    font-weight: 300;
    color: var(--mainColor);
    line-height: 24px;
    margin: 8px auto 40px auto;
    text-align: center
}

h1.joinTtl {
    font-size: 24px;
    font-weight: 500;
    color: var(--fontDefaultColor);
    padding-top: 60px;
    padding-bottom: 18px;
    width: 100%;
    border-bottom: 1px solid var(--reGray);
    margin: 0 auto 25px auto
}

h1.joinTtl span {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: var(--reWarning) !important;
    line-height: 15px;
    margin-left: 24px
}

.d-flex + h1.joinTtl {
    margin-top: 20px
}

.userRegi a {
    width: 200px;
    height: 200px;
    text-align: center;
    background-image: url(../../../img/icon-join-01.png);
    background-position: center 28px;
    background-repeat: no-repeat;
    background-color: var(--white);
    border: 1px solid var(--reGray4);
    border-radius: 8px;
    font-size: 20px;
    color: var(--mainColor);
    line-height: 1.2;
    padding-top: 108px;
    margin-right: 40px;
    transition: all .2s
}

.userRegi a:hover {
    background-image: url(../../../img/icon-join-01-wh.png);
    background-color: var(--mainColor);
    color: var(--white);
    border: 1px solid var(--mainColor)
}

.userRegi a:nth-child(2) {
    background-image: url(../../../img/icon-join-02.png)
}

.userRegi a:nth-child(2):hover {
    background-image: url(../../../img/icon-join-02-wh.png)
}

.userRegi a:last-child {
    background-image: url(../../../img/icon-join-03.png);
    margin-right: 0
}

.userRegi a:last-child:hover {
    background-image: url(../../../img/icon-join-03-wh.png)
}

.register_wrap {
    min-height: calc(100% - 101px)
}

form.form-register {
    width: 648px;
    margin: 0 auto
}

form.form-register label,
form.form-save label {
    font-size: 15px;
    line-height: 40px;
    color: var(--fontDefaultColor);
    font-weight: 500
}

form.form-register label span,
form.form-save label span {
    font-size: 13.5px
}

form.form-register label.labelReq,
form.form-save label.labelReq {
    color: var(--reWarning)
}

form.form-register label.custom-file-label,
form.form-save label.custom-file-label {
    line-height: 1.8
}

form.form-register input[type="text"], form.form-register input[type="password"],
form.form-save input[type="text"], form.form-save input[type="password"] {
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--reGray3);
    color: var(--fontDefaultColor);
    padding: 0 12px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 300;
    outline: none
}

form.form-register input[type="text"]:focus, form.form-register input[type="password"]:focus,
form.form-save input[type="text"]:focus, form.form-save input[type="password"]:focus {
    border: 1px solid var(--mainColor)
}

form.form-register input[type="text"]:read-only,
form.form-save input[type="text"]:read-only {
    background: var(--reGray5);
    border: 1px solid var(--reGray5);
    color: var(--fontDefaultColor);
    padding: 0 12px;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    font-weight: 300
}

form.form-register span.bizNum,
form.form-save span.bizNum {
    position: relative;
    margin-right: 12px;
    text-align: center
}

form.form-register span.bizNum:last-child,
form.form-save span.bizNum:last-child {
    margin-right: 0
}

form.form-register span.bizNum::after,
form.form-save span.bizNum::after {
    content: '-';
    display: block;
    position: absolute;
    right: -10px;
    top: -3px;
    color: var(--fontDefaultColor);
    font-size: 15px;
    font-weight: 300;
    font-family: 'pretendard', 'sans-serif'
}

form.form-register span.bizNum:last-child::after,
form.form-save span.bizNum:last-child::after {
    display: none
}

form.form-register button.btnRegi {
    background-color: var(--reGray6) !important;
    border: 1px solid var(--reGray);
    border-radius: 4px;
    text-align: center;
    line-height: 36px;
    outline: none;
    font-size: 15px;
    color: var(--fontDefaultColor);
    font-weight: 500;
    height: 40px;
    width: 154px;
    margin-left: 8px
}

form.form-register select,
form.form-save select {
    border-radius: 4px;
    border: 1px solid var(--reGray3);
    color: var(--fontDefaultColor);
    padding: 0 0 0 12px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 300;
    background-color: var(--reGray6);
    outline: none;
    height: 40px;
    background-image: url(../../../img/arrow-00.png);
    background-position: calc(100% - 8px) center;
    background-repeat: no-repeat;
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none
}

form.form-register select:disabled {
    background-color: var(--disableBg)
}

form.form-register .d-flex, .baseAddress,
form.form-save .d-flex, .baseAddress {
    margin-bottom: 18px
}

.hospitalFaxNull {
    top: 20px;
    left: 8px;
    line-height: 20px !important
}

.hospitalFaxNull::before {
    top: 20px;
    left: 8px
}

.billingSend, .setWorkTime {
    top: 10px;
    line-height: 20px !important
}

.setWorkTime {
    margin-left: -20px
}

input[type="text"]#loginId:valid {
    border: 1px solid var(--valid);
    background-image: url(../../../img/icon-correct.png);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    background-size: 20px 20px
}

input[type="text"]#loginId:not(:empty):invalid, input[type="password"]#userPassword:not(:empty):invalid {
    border: 1px solid var(--reWarning)
}

.d-flex.btnArea {
    margin-top: 52px;
    padding-bottom: 80px
}

.form-signin .d-flex.btnArea {
    padding-bottom: 0
}

.d-flex.btnArea button {
    width: 240px;
    height: 48px;
    border: 1px solid var(--reGray2);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    color: var(--reGray2);
    text-align: center;
    line-height: 48px;
    background-color: var(--white);
    outline: none
}

.d-flex.btnArea button#hospitalRegisterBtn, .d-flex.btnArea button#registerCert {
    margin-left: 8px;
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    color: var(--white)
}

.form-signin {
    width: 100% !important
}

.form-signin button.btnRegi {
    width: 88px !important
}

.contentWrap {
    background-color: var(--contentBg);
    min-height: calc(100vh - 100px)
}

label.labelBlue {
    font-size: 14px;
    color: var(--tabBlue) !important;
    font-weight: 500;
    line-height: 32px;
    margin-right: -25px
}

.col-9 > label.labelBlue, .modal label.labelBlue, .form.d-flex label.labelBlue, .refferalDetailCont label.labelBlue {
    margin-right: 0
}

#search-form button.defaultBtn,
#edit-form button.defaultBtn {
    width: 76px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid var(--reGray3);
    background-color: var(--reGray6);
    text-align: center;
    padding-left: 25px;
    font-size: 13px;
    font-weight: 500;
    color: var(--fontDefaultColor);
    background-image: url(../../../img/icon-add-doc.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 15px 6px;
    line-height: 29px;
    outline: none
}

#search-form button.reBtn {
    width: 76px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid var(--reGray3);
    background-color: var(--reGray6);
    text-align: center;
    padding-left: 25px;
    font-size: 13px;
    font-weight: 500;
    color: var(--fontDefaultColor);
    background-image: url(../../../img/icon-20-reset.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    line-height: 29px;
    margin-left: 8px;
    margin-right: 20px;
    outline: none
}

#search-form button.moreView {
    font-size: 13px;
    font-weight: 500;
    color: var(--fontDefaultColor);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--fontDefaultColor);
    outline: none;
    height: 20px;
    margin-top: 6px
}

.hospiName {
    width: 123px;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    font-weight: 400;
    color: var(--fontDefaultColor);
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.hospiName + span {
    width: 20px;
    height: 32px;
    background-image: url(../../../img/btn-del-dark.png);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-flex;
    margin-right: 15px
}

#search-form .hospiSelect {
    margin-bottom: 18px
}

#search-form .hospiSelect > button.moreView ~ * {
    display: none
}

#search-form select, #search-form input[type='text'].searchForm,
#edit-form select, #edit-form input[type='text'].editForm,
#select-change-status, #select-change-studyType, #urgentTypeSelect, #select-change-useyn, .refferalDetailCont select {
    width: 155px;
    height: 32px;
    border: 1px solid var(--reGray3);
    background-color: var(--reGray6);
    background-image: url(../../../img/arrow-00.png);
    background-position: calc(100% - 8px) center;
    background-repeat: no-repeat;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
    color: var(--fontDefaultColor);
    padding-left: 12px;
    margin-right: 8px;
    outline: none;
    margin-bottom: 8px;
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none
}

.refferalDetailCont select {
    width: auto;
    min-width: 50px;
    margin-right: 0 !important;
    background-color: var(--disableBg)
}

select::-ms-expand {
    display: none
}

#search-form select:only-child,
#edit-form select:only-child {
    margin-right: 0
}

#search-form input[type='text'].searchForm,
#edit-form input[type='text'].editForm {
    background-color: var(--white);
    flex-wrap: wrap
}

#search-form .dateTxt,
#edit-form .dateTxt {
    width: 160px;
    height: 32px;
    border: 1px solid var(--reGray3);
    background-color: var(--reGray6);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 13px;
    font-weight: 400;
    color: var(--fontDefaultColor);
    padding-left: 12px;
    outline: none;
    margin-bottom: 8px;
    line-height: 32px;
    position: absolute;
    z-index: 9994;
    left: 0;
    background-image: url(../../../img/arrow-00.png);
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none
}

#search-form .dateDate,
#edit-form .dateDate {
    width: 408px;
    height: 32px;
    border: 1px solid var(--reGray3);
    background-color: transparent;
    font-size: 13px;
    font-weight: 400;
    color: var(--fontDefaultColor);
    outline: none;
    margin-bottom: 8px;
    text-align: center;
    border-radius: 0;
    margin-left: -1px;
    position: absolute;
    z-index: 9995;
    left: 1px;
    border-radius: 4px;
    padding-left: 130px;
    cursor: pointer
}

#search-form .dateDate.sm,
#edit-form .dateDate.sm {
    width: 248px;
    padding-left: 12px;
    text-align: left
}

#search-form .btnCal,
#edit-form .btnCal {
    width: 39px;
    height: 32px;
    border: 1px solid var(--reGray3);
    background-color: var(--reGray6);
    background-image: url(../../../img/icon-calander.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: none;
    margin-bottom: 8px;
    margin-left: -2px;
    position: absolute;
    z-index: 9993;
    left: 371px
}

#search-form .btnCal.sm,
#edit-form .btnCal.sm {
    left: 211px
}

#search-form .rangeDate,
#edit-form .rangeDate {
    position: relative;
    z-index: 9993;
    width: 410px;
    margin-right: 6px
}

#search-form .rangeDate + select,
#edit-form .rangeDate + select {
    margin-left: -22px
}

#search-form .form,
#edit-form .form {
    display: none
}

#selectSendHospitalModal .selectHos {
    font-size: 13px;
    font-weight: 400;
    color: var(--mainColor) !important;
    margin-bottom: 10px
}

#selectSendHospitalModal .resultNum {
    font-size: 13px;
    font-weight: 400;
    color: var(--fontDefaultColor) !important;
    margin-bottom: 10px
}

#content-sendHospital-table thead {
    display: block;
    width: 326px
}

#duplicate-study-organize-table thead {
    display: block;
    width: 100%
}

#content-sendHospital-table thead tr th:last-child {
    width: 190px
}

#content-sendHospital-table thead th,
#rearrange-table thead th,
#duplicate-study-organize-table thead th,
#change-status-table thead th,
#change-status-emergency-table thead th,
#change-studyType-table thead th,
#change-urgentType-table thead th,
#change-useyn-table thead th,
#notarrange-table thead th,
#cvr-table thead th,
#delay-table thead th,
#reject-table thead th,
#importance-table thead th,
#weeklyMoalityTable thead th,
    /*#monthlyReadingReportStat-list-table thead th,*/
#modalityRule-list-table thead th,
#referrals-table thead th,
#reference-table-viewport table thead th,
#hospital-list-table_wrapper table thead th,
#reportNotice-list-table thead th,
#contract-list-table thead th,
#localReadingDr-list-table thead th,
#notice-list-table thead th,
#tat-list-table thead th,
#referral-report-table th {
    height: 32px;
    position: relative;
    color: var(--mainColor);
    padding: 0.75rem !important;
    vertical-align: middle;
    background-color: var(--dTbThColor) !important;
}

#change-urgentType-table thead th, #change-studyType-table thead th, #change-useyn-table thead th,
#change-status-table thead th, #change-status-emergency-table thead th,
#rearrange-table thead th{
    height: auto
}

#change-studyType-table thead tr th, #change-urgentType-table thead tr th {
    border-bottom: 1px solid var(--reGray4)
}

#modalityRule-list-table thead th, #hospital-list-table tbody td, #referrals-table thead th, #tat-list-table thead th, #referral-report-table thead th {
    vertical-align: middle
}

#tat-list-table thead th {
    border-left: 1px solid #dee2e6
}

#tat-list-table thead tr th:first-child {
    border-left: 0
}

#content-sendHospital-table thead th::after, #duplicate-study-organize-table thead th::after, #change-status-table thead th::after, #change-status-emergency-table thead th::after, #change-studyType-table thead th::after, #change-urgentType-table thead th::after, #change-useyn-table thead th::after, #notarrange-table thead th::after, #reject-table thead th::after,#importance-table thead th::after, #weeklyMoalityTable thead th::after, #modalityRule-list-table thead th::after, #hospital-list-table_wrapper thead th::after, #localReadingDr-list-table thead th::after, #notice-list-table thead th::after {
    top: 15px
}

#weeklyMoalityTable thead tr:nth-child(2) > th, #weeklyMoalityTable tbody tr:first-child > td, #modalityRule-list-table thead tr:nth-child(2) > th, #modalityRule-list-table tbody tr:first-child > td, #change-studyType-table tbody tr:first-child > td, #change-urgentType-table tbody tr:first-child > td {
    border-top: 0 !important
}

#content-sendHospital-table tbody tr:hover td {
    background-color: var(--trHover)
}

#content-sendHospital-table tbody {
    width: 326px;
    height: 230px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    float: left
}

#weeklyMoalityTable tbody, #modalityRule-list-table tbody {
    width: 1060px;
    height: 530px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    float: left
}
#duplicate-study-organize-table tbody {
    width: 100%;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    float: left
}

#weeklyMoalityTable tbody, #modalityRule-list-table tbody, #modalityRule-list-table tbody {
    width: 1248px
}

#content-sendHospital-table tbody tr td:first-child, #content-sendHospital-table thead tr th:first-child {
    width: 33px
}

#content-sendHospital-table tbody tr td:nth-child(2), #content-sendHospital-table thead tr th:nth-child(2) {
    width: 103px
}

#content-sendHospital-table tbody tr td:last-child, #content-sendHospital-table thead tr th:last-child {
    width: 190px
}

#content-sendHospital-table.nameList tbody tr td:first-child, #content-sendHospital-table.nameList thead tr th:first-child {
    width: 103px !important;
}

#content-sendHospital-table.nameList tbody tr td:last-child, #content-sendHospital-table.nameList thead tr th:last-child {
    width: 223px !important;
}

#notarrange-table thead tr th:first-child, #notarrange-table tbody tr td:first-child {
    width: 33px
}
#duplicate-study-organize-table tbody tr {
    width: 100%;
}
#duplicate-study-organize-table tbody tr td {
    text-align: left !important
}

#duplicate-study-organize-table tbody tr.hospiCode td {
    display: block;
    /*width: 1060px;*/
    text-align: center;
    background-color: var(--hospiCodeBg) !important
}

#duplicate-study-organize-table tbody tr.chartNum td {
    display: block;
    width: 1060px;
    text-align: left;
    background-color: var(--chartNumBg) !important
}

#duplicate-study-organize-table tbody tr td, #weeklyMoalityTable tbody td, #modalityRule-list-table tbody td {
    text-align: center !important;
    display: block;
    float: left !important;
    height: 26px !important;
    line-height: 26px
}

#localReadingDr-list-table tbody td, #notice-list-table tbody td, #tat-list-table tbody td {
    height: 26px !important;
    line-height: 26px
}

#duplicate-study-organize-table tbody tr.odd td {
    background-color: var(--oddBg)
}

.modal-header {
    color: var(--white);
}

.modal-title {
    /*margin-top: auto;*/
    padding-top: 10px;
    margin-bottom: auto;
    line-height: 1;
    font-weight: 400;
    font-size: 22px;
}

.modal-footer button, .modal-footer button:hover, .modal-footer button:active {
    width: 140px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 38px;
    padding: 0;
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    color: var(--white)
}

.modal-footer button + button {
    margin-left: 8px
}

.modal-footer button.modalClose, .modal-footer button.modalClose:hover, .modal-footer button.modalClose:active {
    background-color: var(--white);
    border: 1px solid var(--reGray2);
    color: var(--reGray2)
}

button.swal2-confirm, button.swal2-confirm:hover {
    background-color: var(--mainColor) !important
}

#notarrange-table, #delay-table, #reject-table, #importance-table {
    width: 100% !important
}

.tableInBtn {
    min-width: 48px;
    height: 24px;
    text-align: center;
    line-height: 22px;
    border: 1px solid var(--popupHeader);
    background-color: var(--white);
    color: var(--popupHeader);
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px
}

/*#notarrange-table_wrapper {*/
/*    overflow-y: auto;*/
/*    overflow-x: hidden;*/
/*    height: 670px*/
/*}*/

#hospitalName, #title, #urgentType, #patientID, #patientName {
    padding: 0 12px;
    height: 32px
}

#hospitalApprovePopupModal a[id$=upload], button[id$=check] {
    height: 32px;
    line-height: 32px;
    background-color: var(--reGray6);
    border: 1px solid var(--reGray3);
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: var(--fontDefaultColor);
    display: block
}

#hospitalApprovePopupModal a[id$=download] {
    height: 32px;
    line-height: 32px;
    background-color: var(--white);
    border: 1px solid var(--mainColor);
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: var(--mainColor);
    display: block
}

#hospitalDenyModal textarea {
    padding: 12px;
    resize: none;
    font-size: 13px;
    font-weight: 400;
    color: var(--fontDefaultColor)
}

.denyCopy {
    font-size: 15px;
    font-weight: 500;
    color: var(--reWarning) !important;
    text-align: center
}

main.align-item-strech {
    width: 1320px
}

section #search-form {
    padding-right: 5px !important
}

main.align-item-strech > section.col-3 {
    padding-left: 10px !important
}