input[type="checkbox"] + label {
    margin: auto;
    background-position: center;
    padding-left: 15px !important;
    float: none;
}

input[type="checkbox"]:checked + label::before {
    /*position: relative;*/
    text-align: center;
    background-position: center;
    width: 100%;
}

.other-manager-edit button {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 29px;
    padding: 0;
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    color: var(--white);
}

#hospital-manager-table tr td {
    vertical-align: middle;
}

table.dataTable.no-footer {
    border-bottom: 0px;
}
.dataTbBtn {
     cursor: url("../../img/manual/question-mark.png"), auto !important;
 }