label.single-hospital-search {
    display: none;
}

.rangeDate #printDateType {
    z-index: 9996;
}

#referral-reportConfig-table {
    min-width: 1250px;
}

#selectSendHospitalModal {
    z-index: 9998;
}

#page_content.contentWrap form#search-form > .form, .dataTbForm .dataTbWrap {
    z-index: 300;
}

tr.selected td {
    background-color: #a6b4cd !important;
}

#referral-reportConfig-table thead th {
    height: 32px;
    position: relative;
    color: var(--mainColor);
    padding: 0.75rem !important;
    vertical-align: middle;
}

table.dataTable.no-footer {
    border-bottom: none;
}

#btn-search, #btn-report-print {
    cursor: url("../img/manual/cursor/question-mark.png"), auto !important;
}