<div th:fragment="header">
    <!-- 사이트 헤더 -->
<!--    <header class="hospital">-->
<!--        <ul class="d-inline-flex justify-content-start links"-->
<!--            style="margin-bottom: 0 !important; padding-left: 0!important;">-->
<!--            <li class="reception">-->
<!--                <span onclick="location.href=`/manual/reception`;">예정의뢰</span>-->
<!--                <ul>-->
<!--                    <li></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="referral">-->
<!--                <span onclick="location.href=`/manual/referrals`;">완료의뢰</span>-->
<!--                <ul>-->
<!--                    <li></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="calculate">-->
<!--                <span onclick="location.href=`/manual/statistics`;">조회하기</span>-->
<!--                <ul>-->
<!--                    <li></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="report">-->
<!--                <span onclick="location.href=`/manual/referralReport`;">소견서 출력</span>-->
<!--                <ul>-->
<!--                    <li></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="serviceManage">-->
<!--                <span onclick="location.href=`/manual/serviceManage`;">공지사항</span>-->
<!--                <ul>-->
<!--                    <li></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="support">-->
<!--                <span onclick="window.open(`https://939.co.kr/xray21/`)">고객지원</span>-->
<!--                <ul>-->
<!--                    <li></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <menu class="justify-content-end d-inline-flex">-->
<!--            사용자이름(판독센터명)-->
<!--            <span></span>-->
<!--            <ul>-->
<!--                <li>아이디 | 9186</li>-->
<!--                <li><a href="/manual/myPage">마이페이지</a></li>-->
<!--                <li><a href="javascript:void(0);">로그아웃</a></li>-->
<!--            </ul>-->
<!--        </menu>-->
<!--    </header>-->
<!--    <main>-->
<!--        <div class="text-center pb-5">-->
<!--            <a href="/manual/reception" class="manual-to-page-link-btn-group active" aria-current="page">예정의뢰</a>-->
<!--            <a href="/manual/referrals" class="manual-to-page-link-btn-group">완료의뢰</a>-->
<!--            <a href="/manual/statistics" class="manual-to-page-link-btn-group">조회하기</a>-->
<!--            <a href="/manual/referralReport" class="manual-to-page-link-btn-group">소견서 출력</a>-->
<!--            <a href="/manual/serviceManage" class="manual-to-page-link-btn-group">공지사항</a>-->
<!--            <a href="/manual/myPage" class="manual-to-page-link-btn-group">마이페이지</a>-->
<!--        </div>-->
<!--        <div class="intro">영상전송 페이지 <a class="manual-to-page-link-btn"-->
<!--                                       href="https://report.xray21.com/auth/login"-->
<!--                                       style="text-decoration: none;">예정의뢰-->
<!--            바로가기</a></div>-->
<!--        <div class="intro text-primary">마우스를 올렸을 때 <img src="/img/manual/cursor/question-mark.png"> 표시가 나타나면-->
<!--            클릭하여 이용설명을 확인 할 수 있습니다.-->
<!--        </div>-->
<!--    </main>-->

</div>