<div th:fragment="header">
    <!-- 사이트 헤더 -->
    <header class="hospital">
        <ul class="d-inline-flex justify-content-start links"
            style="margin-bottom: 0 !important; padding-left: 0!important;">
            <li class="reception">
                <span onclick="location.href=`/manual/reception`;">예정의뢰</span>
                <ul>
                    <li></li>
                </ul>
            </li>
            <li class="referral">
                <span onclick="location.href=`/manual/referrals`;">완료의뢰</span>
                <ul>
                    <li></li>
                </ul>
            </li>
            <li class="calculate">
                <span onclick="location.href=`/manual/statistics`;">조회하기</span>
                <ul>
                    <li></li>
                </ul>
            </li>
            <li class="report">
                <span onclick="location.href=`/manual/referralReport`;">소견서 출력</span>
                <ul>
                    <li></li>
                </ul>
            </li>
            <li class="serviceManage">
                <span onclick="location.href=`/manual/serviceManage`;">공지사항</span>
                <ul>
                    <li></li>
                </ul>
            </li>
            <li class="support">
                <span onclick="window.open(`https://939.co.kr/xray21/`)">고객지원</span>
                <ul>
                    <li></li>
                </ul>
            </li>
        </ul>
        <menu class="justify-content-end d-inline-flex">
            사용자이름(판독센터명)
            <span></span>
            <ul>
                <li>아이디 | 9186</li>
                <li><a href="/manual/myPage">마이페이지</a></li>
                <li><a href="javascript:void(0);">로그아웃</a></li>
            </ul>
        </menu>
    </header>
    <div>
        <input id="login-id" name="loginId" value="" type="hidden">
        <input id="report-hospital-code" name="reportHospitalCode" value="" type="hidden">
        <input id="send-hospital-code" name="sendHospitalCode" value="" type="hidden">
        <input id="webUrl" name="webUrl" value="https://stg.xray21.com/web" type="hidden">
        <!-- 매뉴얼 헤더 -->


    </div>

</div>