<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>

</head>
<div layout:fragment="content_area">
    <div id="Page_content" class="contentWrap">
        <main class="d-flex flex-wrap align-items-stretch pt-4">
            <div class="d-flex justify-content-center pb-5 pageHead">
                <div id="pageTitle">
                    <a href="#" class=""></a>
                </div>
            </div>
        </main>
    </div>
</div>
</html>