<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="modal-header row justify-content-between mx-1 mx-sm-3 mb-0 pb-0 border-0">
  <ul class="nav nav-tabs card-header-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <div class="tabs active" id="tab01">
        <h6 class="text-primary">로그인</h6>
      </div>
    </li>
    <li class="nav-item" role="presentation">
      <div class="tabs" id="tab02">
        <h6 class=" text-muted">회원가입</h6>
      </div>
    </li>
  </ul>
</div>
</body>
</html>