<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/hospital/notice.css}">
    <style>
        a:not(.manual-to-page-link-btn, .manual-to-page-link-btn-group) {
            cursor: url("/img/manual/cursor/question-mark.png"), auto !important;
        }

        #notice-list-dr-table_wrapper, .dataTbInBtn {
            cursor: url("/img/manual/cursor/question-mark.png"), auto !important;
        }
    </style>
</head>
<div layout:fragment="content_area">
    <div id="page_content" class="contentWrap" style="height: 1173px !important">

        <main>
            <div class="btn-group btn-group-lg pb-5">
                <a href="/manual/reception" class="manual-to-page-link-btn-group" aria-current="page">예정의뢰</a>
                <a href="/manual/referrals" class="manual-to-page-link-btn-group">완료의뢰</a>
                <a href="/manual/statistics" class="manual-to-page-link-btn-group">조회하기</a>
                <a href="/manual/referralReport" class="manual-to-page-link-btn-group">소견서 출력</a>
                <a href="/manual/serviceManage" class="manual-to-page-link-btn-group active">공지사항</a>
                <a href="/manual/myPage" class="manual-to-page-link-btn-group">마이페이지</a>
            </div>
            <div class="intro">21세기 영상의학과의 원격판독 관련 공지사항 확인 가능</div>
            <div class="intro text-primary pb-3">마우스를 올렸을 때 <img src="/img/manual/cursor/question-mark.png"> 표시가 나타나면
                클릭하여 이용설명을 확인 할 수 있습니다. <a class="manual-to-page-link-btn"
                                           href="https://report.xray21.com/auth/login"
                                           style="text-decoration: none;">예정의뢰
                    바로가기</a>
            </div>
            <nav>
                서비스 관리
                <span>공지사항</span>
            </nav>
            <input id="mesg-server-url" type="hidden" name="mesg-server-url" value="https://stg.xray21.com/web"
                   readonly="">
            <form id="search-form">
                <!--공지사항-->

            </form>
            <!--공지사항-->
            <div class="dataTbForm d-block">
                <div class="dataTbWrap d-flex" id="noticeManualArea" style="height: 70vh; align-content: flex-start">

                    <div class="d-inline-flex flex-wrap justify-content-end align-items-center ml-auto">
                        <span class="searchNum d-inline-flex">검색 결과(0)건</span>

                        <input type="hidden" id="size" value="10">
                        <div aria-labelledby="RowCount" id="row-count-content">
                            <label>
                                <select class="form-control" id="rowCount" data-page="1">
                                    <option value="10" selected="selected">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                        </div>

                    </div>

                    <div id="notice-list-dr-table_wrapper" class="dataTables_wrapper no-footer">
                        <table class="table t text-center text-nowrap dataTable no-footer dtfc-has-left"
                               id="notice-list-dr-table"
                        >
                            <thead class="thead-light">
                            <tr>
                                <th class="sorting_disabled href-show pointer textEllipsis dtfc-fixed-left" scope="col"
                                    width="500" rowspan="1" colspan="1"
                                    style="width: 500px; left: 0px; position: sticky;">공지사항제목
                                </th>
                                <th class="sorting_disabled href-show pointer" scope="col" rowspan="1" colspan="1"
                                    style="width: 626px;">등록일시
                                </th>
                                <th class="sorting_disabled href-show pointer" scope="col" width="50" rowspan="1"
                                    colspan="1" style="width: 50px;">첨부파일
                                </th>
                            </tr>
                            </thead>
                            <tbody id="notice-list-table-body">
                            <tr class="odd">
                                <td class="pointer textEllipsis dtfc-fixed-left"
                                    style="vertical-align: middle; left: 0px; position: sticky;"><a
                                        href="#">사용자 매뉴얼 다운</a></td>
                                <td style="vertical-align: middle;">2022-11-24</td>
                                <td class=" pointer" style="vertical-align: middle;">
                                    <button type="button" class="dataTbInBtn blue btn-download" data-ntcid="22"
                                    >다운로드
                                    </button>
                                </td>
                            </tr>
                            <tr class="even">
                                <td class="pointer textEllipsis dtfc-fixed-left"
                                    style="vertical-align: middle; left: 0px; position: sticky;"><a
                                        href="#">공지사항 테스트</a></td>
                                <td style="vertical-align: middle;">2022-11-21</td>
                                <td class=" pointer" style="vertical-align: middle;"></td>
                            </tr>
                            <tr class="odd">
                                <td class="pointer textEllipsis dtfc-fixed-left"
                                    style="vertical-align: middle; left: 0px; position: sticky;"><a
                                        href="#">판독의 공지사항 첨부파일 수정</a></td>
                                <td style="vertical-align: middle;">2022-10-19</td>
                                <td class=" pointer" style="vertical-align: middle;">
                                    <button type="button" class="dataTbInBtn blue btn-download" data-ntcid="7">다운로드
                                    </button>
                                </td>
                            </tr>
                            <tr class="even">
                                <td class="pointer textEllipsis dtfc-fixed-left"
                                    style="vertical-align: middle; left: 0px; position: sticky;"><a
                                        href="#">등록 테스트/수정</a></td>
                                <td style="vertical-align: middle;">2022-10-19</td>
                                <td class=" pointer" style="vertical-align: middle;"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <input type="hidden" id="page" value="1">

                </div>
            </div>
        </main>
        <!-- MANUAL: 공지사항 -->
        <div class="modal fade" tabindex="-1" role="dialog" id="noticeManualModal" data-backdrop="static"
             aria-labelledby="noticeManualModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title"><span class="descFuncName">소견서 출력</span></h3>
                        <button class="modalClose"></button>
                    </div>
                    <div class="modal-body">
                        <div id="noticeManualCaptions" class="carousel" data-bs-ride="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="d-flex justify-content-center mb-5">
                                        <div class="carousel-desc-step-current mx-2"
                                             data-target="#noticeManualCaptions" data-slide-to="0">step 1
                                        </div>
                                    </div>
                                    <div class="row manual-area">
                                        <div class="d-block mx-auto col-7 text-center pt-5">
                                            <img src="/img/manual/serviceManage/공지사항.png"
                                                 alt="..." class="pt-5">
                                        </div>
                                        <div class="vr"></div>
                                        <div class="mx-auto mt-3 col-3">
                                            <div class="manual-desc-order mr-3">1</div>
                                            <p class="desc py-2">
                                                클릭 시 <span class="text-emphasis">공지사항 확인</span>
                                            </p>
                                            <div class="manual-desc-order mr-3">2</div>
                                            <p class="desc py-2">
                                                <span class="text-emphasis">첨부파일</span> 자동 다운
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:blcok layout:fragment="script_area">
    <script src="/js/manual/serviceManage.js" th:inline="javascript"></script>
</th:blcok>
</html>