<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/hospital/notice.css}">
    <style>
        .dataTbInBtn.blue.btn-download {
            cursor: url("/img/manual/cursor/question-mark.png"), auto !important;
        }
    </style>
</head>
<div layout:fragment="content_area">
    <div id="page_content" class="contentWrap" style="height: 1173px !important">


        <main>
            <div class="d-flex justify-content-center pb-5 pageHead">
                <div>
                    <a href="/manual/reception" class="manual-to-page-link-btn-group "
                       aria-current="page">예정의뢰</a>
                </div>
                <div >
                    <a href="/manual/referrals" class="manual-to-page-link-btn-group">완료의뢰</a>
                </div>
                <div>
                    <a href="/manual/statistics" class="manual-to-page-link-btn-group ">조회하기</a>
                </div>
                <div>
                    <a href="/manual/referralReport" class="manual-to-page-link-btn-group ">소견서 출력</a>
                </div>

                <div>
                    <a href="/manual/serviceManage" class="manual-to-page-link-btn-group active">공지사항</a>
                </div>
                <a class="intro" href="https://report.xray21.com/web/notice"
                   style="left: 790px; color: var(--redOrange) !important;">공지사항 확인 페이지</a>
                <div>
                    <a href="/manual/myPage" class="manual-to-page-link-btn-group">마이페이지</a>
                </div>
            </div>

            <hr>
            <!--공지사항-->

            </form>
            <!--공지사항-->
            <div class="dataTbForm d-block pt-4">
                <div class="dataTbWrap d-flex" id="noticeManualArea" style="height: 70vh; align-content: flex-start">

                    <div class="d-inline-flex flex-wrap justify-content-end align-items-center ml-auto">
                        <span class="searchNum d-inline-flex">검색 결과(0)건</span>

                        <input type="hidden" id="size" value="10">
                        <div aria-labelledby="RowCount" id="row-count-content">
                            <label>
                                <select class="form-control" id="rowCount" data-page="1">
                                    <option value="10" selected="selected">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                        </div>

                    </div>

                    <div id="notice-list-dr-table_wrapper" class="dataTables_wrapper no-footer">
                        <table class="table t text-center text-nowrap dataTable no-footer dtfc-has-left"
                               id="notice-list-dr-table">
                            <thead class="thead-light">
                            <tr>
                                <th class="sorting_disabled href-show pointer textEllipsis dtfc-fixed-left" scope="col"
                                    width="500" rowspan="1" colspan="1"
                                    style="width: 500px; left: 0px; position: sticky;">공지사항제목
                                </th>
                                <th class="sorting_disabled href-show pointer" scope="col" rowspan="1" colspan="1"
                                    style="width: 626px;">등록일시
                                </th>
                                <th class="sorting_disabled href-show pointer" scope="col" width="50" rowspan="1"
                                    colspan="1" style="width: 50px;">첨부파일
                                </th>
                            </tr>
                            </thead>
                            <tbody id="notice-list-table-body">
                            <tr class="odd">
                                <td class="pointer textEllipsis dtfc-fixed-left"
                                    style="vertical-align: middle; left: 0px; position: sticky;"><a
                                        href="#">사용자 매뉴얼 다운</a></td>
                                <td style="vertical-align: middle;">2022-11-24</td>
                                <td class=" pointer" style="vertical-align: middle;">
                                    <button type="button" class="dataTbInBtn blue btn-download manual-click-border" data-ntcid="22"
                                    >다운로드
                                    </button>
                                </td>
                            </tr>
                            <tr class="even">
                                <td class="pointer textEllipsis dtfc-fixed-left"
                                    style="vertical-align: middle; left: 0px; position: sticky;"><a
                                        href="#">공지사항</a></td>
                                <td style="vertical-align: middle;">2022-11-21</td>
                                <td class=" pointer" style="vertical-align: middle;"></td>
                            </tr>
                            <tr class="odd">
                                <td class="pointer textEllipsis dtfc-fixed-left"
                                    style="vertical-align: middle; left: 0px; position: sticky;"><a
                                        href="#">판독의 공지사항 첨부파일 수정</a></td>
                                <td style="vertical-align: middle;">2022-10-19</td>
                                <td class=" pointer" style="vertical-align: middle;">
                                    <button type="button" class="dataTbInBtn blue btn-download manual-click-border" data-ntcid="7">다운로드
                                    </button>
                                </td>
                            </tr>
                            <tr class="even">
                                <td class="pointer textEllipsis dtfc-fixed-left"
                                    style="vertical-align: middle; left: 0px; position: sticky; "><a
                                        href="#">공지사항 등록</a></td>
                                <td style="vertical-align: middle;">2022-10-19</td>
                                <td class=" pointer" style="vertical-align: middle;"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <input type="hidden" id="page" value="1">
                </div>
            </div>
        </main>
        <!-- MANUAL: 공지사항 -->
        <div class="modal fade" tabindex="-1" role="dialog" id="noticeManualModal" data-backdrop="static"
             aria-labelledby="noticeManualModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header m-0">
                        <h3 class="modal-title"><span class="descFuncName">공지사항</span></h3>
                        <button class="modalClose"></button>
                    </div>
                    <div class="modal-body">
                        <div id="noticeManualCaptions" class="carousel" data-bs-ride="false">
                            <div class="carousel-inner my-5">
                                <div class="carousel-item active">
                                    <div class="row manual-area my-auto">
                                        <div class="d-block mx-auto col-8 text-center">
                                            <img src="/img/manual/serviceManage/공지사항.png">
                                        </div>
                                        <div class="vr"></div>
                                        <div class="mr-0 my-auto mt-3 col-3 manual-desc-box pl-5">
                                            <div class="row p-2">
                                                <div class="manual-desc-order col-1">1</div>
                                                <div class="desc m-0 col-10">
                                                    클릭 시 <span class="text-emphasis">공지사항 확인</span>
                                                </div>
                                            </div>
                                            <div class="row p-2">
                                                <div class="manual-desc-order col-1">2</div>
                                                <div class="desc m-0 col-10">
                                                    <span class="text-emphasis">첨부파일</span> 자동 다운
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:blcok layout:fragment="script_area">
    <script src="/js/manual/serviceManage.js" th:inline="javascript"></script>
</th:blcok>
</html>