<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/hospital/statistics.css}">
    <style>
        #statistics-manual-button {
            cursor: url("/img/manual/cursor/question-mark.png"), auto !important;
        }

        .condition {
            cursor: url("/img/manual/cursor/question-mark.png"), auto !important;
        }

        .form-control {
            cursor: url("/img/manual/cursor/question-mark.png"), auto !important;
        }

        button {
            cursor: url("/img/manual/cursor/question-mark.png"), auto !important;
        }
    </style>
</head>
<div layout:fragment="content_area">
    <div id="page_content" class="contentWrap" style="height: 1173px !important">
        <main>
            <div class="btn-group btn-group-lg pb-5">
                <a href="/manual/reception" class="manual-to-page-link-btn-group" aria-current="page">예정의뢰</a>
                <a href="/manual/referrals" class="manual-to-page-link-btn-group">완료의뢰</a>
                <a href="/manual/statistics" class="manual-to-page-link-btn-group active">조회하기</a>
                <a href="/manual/referralReport" class="manual-to-page-link-btn-group">소견서 출력</a>
                <a href="/manual/serviceManage" class="manual-to-page-link-btn-group">공지사항</a>
                <a href="/manual/myPage" class="manual-to-page-link-btn-group">마이페이지</a>
            </div>
            <div class="intro">통계 확인 페이지</div>
            <div class="intro text-primary pb-3">마우스를 올렸을 때 <img src="/img/manual/cursor/question-mark.png"> 표시가 나타나면 클릭하여 이용설명을 확인 할 수 있습니다. <a class="manual-to-page-link-btn"
                                                                                                                                                 href="https://report.xray21.com/auth/login"
                                                                                                                                                 style="text-decoration: none;">예정의뢰
                바로가기</a>
            </div>

            <nav>
                조회하기 &gt;
                <span>TAT 조회</span>
            </nav>
            <input id="mesg-server-url" type="hidden" name="mesg-server-url" value="https://stg.xray21.com/web"
                   readonly="">

            <form id="search-form" style="height: 313px; width: 1320px !important; padding-right: 0;">

                <!--        <menu class="statistics" sec:authorize="hasAnyRole('ROLE_SM')">-->
                <!--          <h1 class="current" onclick="location.href=_ctx + 'statistics/tat'">TAT 조회</h1>-->
                <!--        </menu>-->

                <div class="form d-flex" id="statistics-manual-button">
                    <label for="searchCondition" class="col-1 labelBlue p-0 ">검색조건</label>
                    <div class="d-flex flex-wrap col-6 p-0 justify-content-start ml-auto"
                    >

                        <div class="mr-3">
                            <input class="form-control form-control-sm text-center pointer" id="hospitalName"
                                   readonly="" data-sendhospitalcode="0259" value="홍백병원(0259)" type="text"
                                   placeholder="검색할 병원을 선택(전체병원)">
                            <input type="hidden" id="authCheck" value="SM" data-sendhospitalcode="0259">
                        </div>
                        <select class="condition column" id="urgentType" name="urgentType">
                            <option value="T">전체</option>

                            <option value="N">일반</option>

                            <option value="Y">응급</option>

                        </select>

                        <div class="rangeDate d-flex mr-auto justify-content-start col-4">
                            <div class="dateTxt d-none">조회 일자</div>
                            <input type="hidden" class="form-control" id="start-date" readonly="" name="startDate"
                                   value="2022-12-01">
                            <input type="hidden" class="form-control" id="end-date" readonly="" name="endDate"
                                   value="2022-12-20">
                            <input type="text" class="dateDate sm">
                            <button type="button" class="btnCal sm"></button>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap justify-content-end ml-auto col-5 p-0">
                        <!--            <button class="reset mt-0" id="btn-reset" type="button">조건 초기화</button>-->

                        <button type="button" id="btn-reset-dr" class="reset mt-0"
                        >조건 초기화
                        </button>
                        <button type="button" id="btn-search" class="mt-0">검색하기</button>
                        <button class="download mt-0" id="btn-download" type="button"
                        >다운로드
                        </button>
                    </div>
                </div>

                <!--TAT 조회 내용-->
                <div class="dataTbForm d-block">
                    <div class="dataTbWrap d-flex">
                        <div id="tat-list-table_content">
                            <div id="tat-list-table_wrapper" class="dataTables_wrapper no-footer">
                                <div class="dt-buttons">
                                    <button class="dt-button buttons-excel buttons-html5 d-none" tabindex="0"
                                            aria-controls="tat-list-table" type="button"><span>Excel Download</span>
                                    </button>
                                </div>
                                <div id="tat-list-table_processing" class="dataTables_processing"
                                     style="display: none;">Processing...
                                </div>
                                <div class="dataTables_scroll dtfc-has-left" style="position: relative;">
                                    <div class="dataTables_scrollHead"
                                         style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                                        <div class="dataTables_scrollHeadInner"
                                             style="box-sizing: content-box; width: 1252px; padding-right: 0px;">
                                            <table class="table table-head text-center table-bordered dataTable no-footer"
                                                   style="margin-left: 0px; width: 1252px;">
                                                <thead class="thead-light" id="tat-thead">
                                                <tr>
                                                    <th class="align-middle" scope="col" rowspan="1" colspan="1"
                                                        style="width: 88.0938px;">Modality
                                                    </th>
                                                    <th colspan="2" scope="col" rowspan="1"
                                                        style="width: 212.188px;">CT
                                                    </th>
                                                    <th colspan="2" scope="col" rowspan="1"
                                                        style="width: 212.188px;">MR
                                                    </th>
                                                    <th colspan="2" scope="col" rowspan="1"
                                                        style="width: 212.188px;">MG
                                                    </th>
                                                    <th colspan="2" scope="col" rowspan="1"
                                                        style="width: 212.188px;">CR
                                                    </th>
                                                    <th class="align-middle sorting_disabled" rowspan="2"
                                                        scope="col" colspan="1" style="width: 86.1562px;">합계
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th scope="col" class="sorting_disabled dtfc-fixed-left"
                                                        rowspan="1" colspan="1"
                                                        style="width: 88.0938px; left: 0px; position: sticky;">기간
                                                    </th>
                                                    <th scope="col" class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 87.0938px;">1시간 내
                                                    </th>
                                                    <th scope="col" class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 87.0938px;">1시간 외
                                                    </th>
                                                    <th scope="col" class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 87.0938px;">1시간 내
                                                    </th>
                                                    <th scope="col" class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 87.0938px;">1시간 외
                                                    </th>
                                                    <th scope="col" class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 87.0938px;">1시간 내
                                                    </th>
                                                    <th scope="col" class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 87.0938px;">1시간 외
                                                    </th>
                                                    <th scope="col" class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 87.0938px;">1시간 내
                                                    </th>
                                                    <th scope="col" class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 87.0938px;">1시간 외
                                                    </th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="dataTables_scrollBody"
                                         style="position: relative; overflow: auto; max-height: 50vh; width: 100%;">
                                        <table class="table table-head text-center table-bordered dataTable no-footer dtfc-has-left"
                                               id="tat-list-table" style="width: 100%;">

                                            <tbody>
                                            <tr class="odd">
                                                <td valign="top" colspan="10"
                                                    class="dataTables_empty dtfc-fixed-left"
                                                    style="left: 0px; position: sticky;">조회된 데이터가 없습니다.
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="dtfc-right-top-blocker"
                                         style="background-color: rgb(255, 255, 255); bottom: 0px; display: block; position: absolute; width: 1px; right: 0px; top: 0px; height: 41px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </main>

        <!-- MANUAL: 조회하기  -->
        <div class="modal fade" tabindex="-1" role="dialog" id="statisticsManualModal" data-backdrop="static"
             aria-labelledby="statisticsManualModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title"><span class="descFuncName">조회하기</span></h3>
                        <button class="modalClose"></button>
                    </div>
                    <div class="modal-body">
                        <div id="statisticsManualCaptions" class="carousel" data-bs-ride="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="d-flex justify-content-center mb-5">
                                        <div class="carousel-desc-step-current mx-2"
                                             data-target="#statisticsManualCaptions" data-slide-to="0">step 1
                                        </div>
                                    </div>

                                    <div class="row manual-area">
                                        <div class="d-block mx-auto col-7 text-center pt-5">
                                            <img src="/img/manual/statistics/조회하기-0-조회하기.png"
                                                 alt="..." class="pt-5">
                                        </div>
                                        <div class="vr"></div>
                                        <div class="mx-auto mt-3 col-3">
                                            <div class="manual-desc-order mr-3">1</div>
                                            <p class="desc py-2">
                                                <span class="text-emphasis">응급구분</span> 선택
                                            </p>
                                            <div class="manual-desc-order mr-3">2</div>
                                            <p class="desc py-2">
                                                <span class="text-emphasis"> 소견 반영일</span> 지정
                                            </p>
                                            <div class="manual-desc-order mr-3">3</div>
                                            <p class="desc py-2">
                                                검색 후 <span class="text-emphasis">엑셀파일</span> <br>다운로드
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<th:blcok layout:fragment="script_area">
    <script src="/js/manual/statistics.js" th:inline="javascript"></script>
</th:blcok>
</html>