.body_wrap {
    width: 100%;
    padding: 0 !important
}

.body_wrap > section {
    position: absolute;
    background-color: #c7c7c7;
    background-size: auto;
    /*background-repeat: no-repeat;*/
    min-height: calc(100vh - 50px) !important;
    background-position: center top;
}

.body_wrap > section > div.content {
    margin: 0 auto 43px auto;
    padding-top: 8%;
    font-size: 41px;
    color: var(--white);
    font-weight: 400;
    text-align: center;
    padding-bottom: 40px;
}

.body_wrap > section > div.content > img {
    max-width: 50%;
    margin-bottom: 70px;
}

form#loginForm {
    display: block
}

form#loginForm menu {
    width: 480px;
    height: 48px;
    margin: 0 auto
}

form#loginForm menu h1 {
    float: left;
    width: 238px;
    height: 48px;
    font-size: 15px;
    color: var(--white);
    background-color: var(--reGray);
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer
}

form#loginForm menu h1.current {
    color: var(--mainColor);
    background-color: var(--white)
}

form#loginForm menu h1 + h1 {
    margin-left: 4px
}

form#loginForm .form {
    display: none;
    width: 480px;
    min-height: 340px;
    background-color: var(--white);
    margin: 0 auto;
    padding: 48px 60px 35px 60px
}

form#loginForm .form input[type="text"], form#loginForm .form input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid var(--reGray3);
    font-size: 15px;
    color: var(--reGray);
    font-weight: 300;
    outline: var(--reGray3);
    margin-bottom: 12px;
    float: left
}

form#loginForm .form input[type="password"] + p {
    margin-bottom: 12px;
    margin-top: -7px
}

form#loginForm .form input.req {
    border: 1px solid var(--reWarning)
}

form#loginForm .form a#register {
    float: right;
    font-size: 13px;
    color: var(--fontDefaultColor);
    line-height: 20px
}

form#loginForm .form a#register + a {
    position: relative;
    float: right;
    font-size: 13px;
    color: var(--fontDefaultColor);
    line-height: 20px;
    padding-right: 24px
}

form#loginForm .form a#register + a::after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background: var(--fontDefaultColor);
    top: 4px;
    right: 12px
}

form#loginForm .form button {
    width: calc(50% - 2px);
    height: 40px;
    float: left;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    background: var(--white);
    border: 1px solid var(--reGray2);
    color: var(--reGray2);
    text-align: center;
    line-height: 38px;
    outline: none;
    margin-top: 50px
}

form#loginForm .form button + button {
    background: var(--mainColor);
    border: 1px solid var(--mainColor);
    color: var(--white);
    margin-left: 4px
}

form#loginForm .form hr {
    width: 0;
    height: 1px;
    line-height: 0;
    border: 0;
    clear: both
}

form#loginForm .form hr + p {
    background: url(../../img/icon-16-exclamation.png) left center no-repeat;
    padding-left: 20px;
    height: 16px;
    line-height: 16px;
    font-size: 13px;
    color: var(--fontDefaultColor);
    font-weight: 400;
    margin-top: 28px
}