@import url(pretendard.css);

@charset "utf-8";

* {
    box-sizing: border-box
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body, h1, h2, h3, h4, h5, h6, select, input, textarea, button {
    font-family: pretendard, "sans-serif", 맑은고딕, "Malgun Gothic", 돋움, Helvetica, "Apple SD Gothic Neo" !important;
}

html, body {
    height: 100%;
    min-height: 100%
}

body {
    font-size: 13px;
    color: #585858;
    font-weight: 400;
    word-break: break-all
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0
}

ol, ul {
    list-style: none
}

em, address, i {
    font-style: normal
}

img, fieldset, iframe {
    border: 0
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top
}

a {
    color: inherit;
    box-sizing: border-box
}

a, a:hover {
    text-decoration: none
}

select::-ms-expand {
    display: none
}

input, select, textarea {
    border-radius: 4px;
    border: 1px solid #dedede;
    background-color: #fff
}

input::-ms-clear {
    display: none
}

input[type=date]::-webkit-inner-spin-button {
    display: none
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-calendar-picker-indicator {
    display: none
}

input[type=number] {
    -moz-appearance: textfield
}

input::placeholder, input::-webkit-input-placeholder {
    color: #bbb
}

button {
    background-color: transparent;
    cursor: pointer
}

caption {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0
}

.alternate {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -1000em
}

#skip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-left: 0;
    text-align: center;
    list-style: outside none
}

#skip li {
    list-style-type: none
}

#skip a {
    position: absolute;
    left: -99999px;
    top: 30px
}

#skip a:focus, #skip a:active {
    position: relative;
    left: 0;
    z-index: 9999;
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 30px 45px;
    text-align: center;
    text-decoration: none;
    letter-spacing: -4px !important;
    font: bold 50px "Arial", "Freesans", sans-serif !important;
    color: #AEAEFE;
    background: transparent url(transparent.png) repeat scroll 0 0;
    border: 1px dotted #ffb4db
}

::-webkit-input-placeholder {
    color: #888
}

.blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    margin: -1px;
    color: transparent
}

.eps {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.show {
    display: block
}

.hide {
    display: none
}

.fl {
    float: left
}

.fr {
    float: right
}

.ac {
    text-align: center !important
}

.al {
    text-align: left !important
}

.ar {
    text-align: right !important
}

.vt {
    vertical-align: top !important
}

.vm {
    vertical-align: middle !important
}

.vb {
    vertical-align: bottom !important
}

.clearfix:after {
    display: block;
    content: '';
    clear: both
}

.reqrd {
    font-style: normal;
    font-weight: 700;
    color: #c80204
}

.tx_error {
    color: red
}

.w_100p {
    width: 100% !important
}

.pl0 {
    padding-left: 0 !important
}

.pr0 {
    padding-right: 0 !important
}

.pt0 {
    padding-top: 0 !important
}

.pb0 {
    padding-bottom: 0 !important
}

.ml0 {
    margin-left: 0 !important
}

.mr0 {
    margin-right: 0 !important
}

.mt0 {
    margin-top: 0 !important
}

.mb0 {
    margin-bottom: 0 !important
}

.wrap {
    position: relative;
    width: 1920px;
    height: 1080px;
    padding-left: 120px;
    border: 1px solid #ddd;
    background-color: #fff
}

.wrap.full {
    padding-left: 0
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 120px;
    height: 1080px;
    background-color: #111742;
    z-index: 99
}

.header .logo {
    width: 100%;
    height: 70px;
    background-color: #273db0
}

.header .logo a {
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 70px;
    text-align: center;
    color: #fff
}

.header .login {
    width: 100%;
    height: 160px;
    padding-top: 24px;
    background-color: #273db0;
    text-align: center;
    color: #fff
}

.header .login .img {
    width: 44px;
    height: 44px;
    margin: 0 auto;
    background: url(../img/sp_common.png) no-repeat 0 -100px
}

.header .login .name {
    padding: 6px 0 12px 0;
    font-size: 16px
}

.header .login button {
    width: 66px;
    height: 24px;
    background-color: #17237a;
    font-size: 12px
}

.header .gnb {
    position: relative;
    height: calc(100% - 230px)
}

.header .gnb li {
    width: 100%;
    height: 100px
}

.header .gnb li a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    color: rgba(255, 255, 255, .5);
    text-align: center
}

.header .gnb li a:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 25px;
    width: 30px;
    height: 30px;
    background: url(../../img/sp_common.png) no-repeat;
    opacity: .5;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.header .gnb li.on a {
    background-color: #17237a;
    color: rgba(255, 255, 255, 1)
}

.header .gnb li.on a:before {
    opacity: 1
}

.header .gnb li a.new:after {
    content: '';
    display: block;
    position: absolute;
    top: 56px;
    right: 26px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #d52323
}

.header .gnb li.menu1 a:before {
    background-position: -100px -100px
}

.header .gnb li.menu2 a:before {
    background-position: -130px -100px
}

.header .gnb li.menu3 {
    position: absolute;
    bottom: 210px
}

.header .gnb li.menu3 a:before {
    background-position: -160px -100px
}

.header .gnb li.menu4 {
    position: absolute;
    bottom: 110px
}

.header .gnb li.menu4 a:before {
    background-position: -190px -100px
}

.container {
    width: 100%;
    height: 100%
}

.contents {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%
}

::-webkit-scrollbar {
    width: 14px;
    height: 8px;
    background: transparent
}

::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background-color: #d8d8d8;
    opacity: .7
}

::-webkit-scrollbar-track {
    margin: 2px 0;
    background: transparent
}

.btn_area {
    text-align: center
}

.btn_area button {
    margin-left: 8px
}

.btn_area button:first-of-type {
    margin-left: 0
}

.btn_area.full {
    display: flex;
    -webkit-display: flex
}

.btn_area.full button {
    flex: 1;
    -webkit-flex: 1;
    width: 100%
}

.btn_ty1 {
    height: 36px;
    border-radius: 4px;
    background-color: #273db0;
    color: #fff
}

.btn_ty2 {
    height: 36px;
    border-radius: 4px;
    border: 1px solid #273db0;
    background-color: #fff;
    color: #273db0
}

.btn_ty3 {
    height: 36px;
    padding: 0 14px;
    border-radius: 4px;
    border: 1px solid #dedede;
    background-color: #fff;
    text-align: left;
    color: #cdcdcd
}

.btn_ty4 {
    height: 36px;
    padding: 0 14px;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    color: #1c1834
}

.btn_ty5 {
    height: 36px;
    padding: 0 14px;
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: #26233e;
    text-align: center;
    color: #fff
}

.btn_txt {
    position: relative;
    padding-left: 22px;
    font-weight: 500;
    line-height: 20px;
    color: #585858
}

.btn_txt:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    background: url(../../img/sp_common.png) no-repeat;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.btn_txt.reset {
    padding-left: 24px;
    color: #1c2b91
}

.btn_txt.reset:before {
    width: 20px;
    height: 20px;
    background-position: -160px -50px
}

.btn_txt.merge:before {
    width: 20px;
    height: 20px;
    background-position: 0 -160px
}

.btn_txt.delete {
    color: #585858
}

.btn_txt.delete:before {
    width: 20px;
    height: 20px;
    background-position: -20px -160px
}

.btn_txt.list {
    color: #585858
}

.btn_txt.list:before {
    width: 20px;
    height: 20px;
    background-position: -40px -160px
}

.btn_txt.print {
    color: #585858
}

.btn_txt.print:before {
    width: 20px;
    height: 20px;
    background-position: -60px -160px
}

.btn_txt.download {
    color: #585858
}

.btn_txt.download:before {
    width: 20px;
    height: 20px;
    background-position: -80px -160px
}

.btn_ty2 .refresh {
    position: relative;
    padding-left: 22px
}

.btn_ty2 .refresh:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    background: url(../../img/sp_common.png) no-repeat -160px -50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.btn_ty1 .search {
    position: relative;
    padding-left: 22px
}

.btn_ty1 .search:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    background: url(../../img/sp_common.png) no-repeat -120px -50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.ipt {
    height: 36px;
    padding: 0 14px
}

.ipt[readonly=readonly] {
    color: #cdcdcd
}

.sel {
    position: relative;
    height: 36px;
    padding: 0 14px;
    background: #fff url(../../img/bg_select.png) no-repeat 100% 100%;
    color: #585858
}

.sel[disabled=disabled] {
    background-color: #f4f4f5;
    color: #cdcdcd
}

.chk {
    display: none
}

.chk + label {
    display: inline-block;
    position: relative;
    height: 20px;
    margin: 0;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.chk + label:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: url(../../img/sp_common.png) no-repeat 0 0
}

.chk:checked + label:before {
    background-position: -20px 0
}

.rdo {
    display: none
}

.rdo + label {
    display: inline-block;
    position: relative;
    height: 20px;
    margin: 0;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.rdo + label:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: url(../../img/sp_common.png) no-repeat -60px 0
}

.rdo:checked + label:before {
    background-position: -80px 0
}

.textarea {
    display: block;
    width: 100%;
    min-height: 65px;
    padding: 8px 14px;
    border-radius: 4px;
    border: 1px solid #dedede;
    resize: vertical
}

.textarea[readonly=readonly] {
    color: #cdcdcd
}

.tab_wrap {
    position: relative;
    padding-top: 10px;
    height: 100%
}

.tabs {
    display: flex;
    -webkit-display: flex
}

.tabs li {
    flex: 1;
    -webkit-flex: 1
}

.tabs li a {
    display: block;
    position: relative;
    height: 48px;
    font-size: 15px;
    line-height: 48px;
    text-align: center;
    color: #686868
}

.tabs li a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 1px;
    background-color: #d7d7d7
}

.tabs li.active a {
    border-bottom: 3px solid #273db0;
    font-weight: 700;
    color: #3040ae
}

.tabs li.active a:after {
    background: none
}

.tbl_wrap {
    position: relative;
    overflow: auto;
    width: 100%;
    border-bottom: 1px solid #eaeaea
}

.tbl_common {
    table-layout: fixed;
    width: 100%
}

.tbl_common thead th {
    position: relative;
    padding: 13px 7px;
    border-bottom: none;
    background-color: #eeeffb;
    color: #1c2b91
}

.tbl_common thead th:first-child {
    border-radius: 4px 0 0 0
}

.tbl_common thead th:last-child {
    border-radius: 0 4px 0 0
}

.tbl_common thead th.left {
    text-align: left
}

.tbl_common tbody tr:hover th, .tbl_common tbody tr:hover td {
    background-color: #fafbff
}

.tbl_common tbody td {
    overflow: hidden;
    width: 100%;
    padding: 10px 7px;
    border-bottom: 1px solid #eaeaea;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center
}

.tbl_common .chk + label {
    width: 55px
}

.tbl_common tbody tr:last-child th, .tbl_common tbody tr:last-child td {
    border-bottom: none
}

.tbl_common tbody td.left {
    text-align: left
}

.tbl_tbody {
    table-layout: fixed;
    width: 100%
}

.tbl_tbody th, .tbl_tbody td {
    overflow: hidden;
    padding: 11px 0;
    border-bottom: 1px solid #8a85a7;
    background-color: #2f2b4c;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap
}

.tbl_tbody tr:first-child th:first-child, .tbl_tbody tr:first-child td:first-child {
    border-radius: 4px 0 0 0
}

.tbl_tbody tr:first-child td:last-child {
    border-radius: 0 4px 0 0
}

.tbl_tbody tr:last-child th:first-child, .tbl_tbody tr:last-child td:first-child {
    border-radius: 0 0 0 4px
}

.tbl_tbody tr:last-child td:last-child {
    border-radius: 0 0 4px 0
}

.tbl_tbody tr:last-child th, .tbl_tbody tr:last-child td {
    border-bottom: none
}

.tbl_wrap .dataTables_scrollHeadInner .tbl_common th:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    width: 2px;
    height: 14px;
    background-color: rgba(28, 43, 145, .5);
    opacity: .25;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.tbl_wrap .dataTables_scrollHeadInner .tbl_common th:last-child:after {
    background: none
}

.tbl_result {
    padding: 13px 14px;
    color: #646464
}

.dataTables_scrollHead {
    border-radius: 4px 4px 0 0
}

.dataTables_scrollHeadInner {
    background-color: #eeeffb
}

:root {
    --mainColor: #112693;
    --fontDefaultColor: #4d5256;
    --reGray: #a9afb3;
    --reGray2: #8b9298;
    --reGray3: #ced3d6;
    --reGray4: #e6e7e9;
    --reGray5: #e3e4e7;
    --reGray6: #f2f2f7;
    --reWarning: #e74040;
    --valid: #0cbd75;
    --popupHeader: #273db0;
    --headerBg: #000f5a;
    --headerDefaultColor: #f4f4f5;
    --contentBg: #f4f4f5;
    --tabGray: #666;
    --tabBgGray: #e1e4e6;
    --tabBlue: #1c2b91;
    --rangeDate: #e6e8ff;
    --dTbThColor: #f8f8ff;
    --trHover: #eeefff;
    --hospiCodeBg: #D6DBF5;
    --chartNumBg: #E7EAFA;
    --oddBg: #F2F2F6;
    --disableBg: #d7d7d9;
    --white: #fff;
}

header.default {
    width: 100%;
    min-width: 1440px;
    height: 70px;
    background-color: var(--mainColor);
    position: fixed;
    z-index: 9997;
    left: 0;
    top: 0;
    display: flex
}

header.default h1 {
    display: inline-flex;
    justify-content: start;
    font-size: 22px;
    line-height: 70px;
    margin-left: 60px;
    margin-right: auto;
    color: var(--white);
    font-weight: 400
}

header.default a {
    display: inline-flex;
    justify-content: end;
    margin-right: 60px;
    font-size: 13px;
    line-height: 70px;
    color: var(--white);
    padding: 0 12px;
    font-weight: 400;
    font-family: "Pretendard";
    order: 2
}

header.default a + a {
    position: relative;
    margin-right: 0;
    order: 1
}

header.default a + a::after {
    content: '';
    position: absolute;
    display: block;
    top: 28px;
    right: 0;
    width: 1px;
    height: 14px;
    background-color: var(--white)
}

header.admin {
    position: fixed;
    z-index: 9997;
    min-height: 70px;
    min-width: 1440px;
    background-color: var(--headerBg);
    transition: min-height .3s;
    width: 100%;
    left: 0;
    top: 0
}

header.admin:hover {
    min-height: 316px
}

header.admin > ul {
    margin-right: auto
}

header.admin > ul > li:hover > span + ul {
    min-height: 70px
}

header.admin:hover > ul > li > span + ul {
    background-color: var(--headerBg);
    background-color: transparent;
    display: block
}

header.admin > ul > li {
    display: block;
    width: 188px;
    cursor: pointer;
    text-align: center;
    opacity: .7
}

header.admin > ul > li > span {
    min-height: 70px;
    line-height: 70px;
    color: var(--white);
    font-size: 18px !important;
    font-weight: 500;
    text-align: center;
    margin: 0 auto
}

header.admin > ul > li.read > span {
    background-image: url(../../img/icon-gnb-01.png);
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    padding-left: 28px
}

header.admin > ul > li.hospiManage > span {
    background-image: url(../../img/icon-gnb-02.png);
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    padding-left: 28px
}

header.admin > ul > li.constract > span {
    background-image: url(../../img/icon-gnb-03.png);
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    padding-left: 28px
}

header.admin > ul > li.userManage > span {
    background-image: url(../../img/icon-gnb-04.png);
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    padding-left: 28px
}

header.admin > ul > li.serviceManage > span, header.hospital > ul > li.serviceManage > span, header.readingDr > ul > li.serviceManage > span {
    background-image: url(../../img/icon-gnb-05.png);
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    padding-left: 28px
}

header.admin > ul > li.support > span {
    background-image: url(../../img/icon-gnb-06.png);
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    padding-left: 28px
}

header.admin > ul > li:hover, header.admin > ul > li.current {
    color: var(--white);
    background-color: var(--mainColor);
    opacity: 1 !important
}

header.admin > ul > li > span + ul {
    width: 188px;
    margin: 0;
    padding: 0 0 15px 0;
    display: none;
    min-height: 245px
}

header.admin:hover > ul > li:hover > span + ul, header.admin:hover > ul > li.current > span + ul {
    background-color: var(--mainColor);
    padding-top: 0;
}

header.admin > ul > li > span + ul > li > a > span {
    font-size: 15px !important;
    line-height: 37px;
    color: var(--white)
}

header.admin > ul > li:hover > span + ul > li > a, header.admin > ul > li.current > span + ul > li > a {
    text-align: center;
    display: block;
    line-height: 37px
}

header.admin > ul > li:hover > span + ul > li > a:hover, header.admin > ul > li.current > span + ul > li > a.current {
    color: var(--white);
    font-weight: 500;
    background-color: transparent
}

header.admin > ul > li:hover > span + ul > li > a span, header.admin > ul > li.current > span + ul > li > a span {
    font-size: 15px !important;
    font-weight: 400;
    color: var(--headerDefaultColor) !important
}

header.admin > ul > li:hover > span + ul > li > a:hover span, header.admin > ul > li.current > span + ul > li > a.current span {
    border-bottom: 1px solid var(--white);
    font-size: 15px !important;
    font-weight: 400
}

header.admin ul + menu {
    position: relative;
    height: 70px;
    line-height: 70px;
    margin-right: 60px;
    font-size: 16px;
    font-weight: 500;
    color: var(--white)
}

header.admin ul + menu span {
    justify-content: end;
    display: flex;
    background-image: url(../../img/icon-user.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-top: 19px;
    margin-left: 8px
}

header.admin ul + menu ul {
    display: none;
    min-width: 160px;
    position: absolute;
    right: 0;
    top: 65px;
    min-height: 190px;
    border-radius: 4px;
    background-color: var(--white);
    box-shadow: 0 0 1px var(--reGray2);
    z-index: 9999;
    padding: 25px 35px
}

header.admin ul + menu ul::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 9998;
    right: 20px;
    top: -6px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--white);
    border-top: 0
}

header.admin ul + menu:hover ul {
    display: block
}

header.admin ul + menu ul > li > a {
    text-align: center;
    font-size: 15px;
    color: var(--fontDefaultColor);
    padding-bottom: 20px;
    display: block;
    line-height: 20px
}

header.admin ul + menu ul > li:last-child > a {
    padding-bottom: 0
}

header.hospital, header.readingDr {
    position: fixed;
    z-index: 9997;
    min-height: 70px;
    min-width: 1440px;
    background-color: var(--headerBg);
    transition: min-height .3s;
    width: 100%;
    left: 0;
    top: 0;
}

header.hospital > ul {
    margin-right: auto
}

header.hospital > ul > li {
    display: block;
    width: 188px;
    cursor: pointer;
    text-align: center;
    opacity: .7
}

header.hospital > ul > li > span {
    min-height: 70px;
    line-height: 70px;
    color: var(--white);
    font-size: 18px !important;
    font-weight: 500;
    text-align: center;
    margin: 0 auto
}

header.hospital > ul > li.reception > span {
    background-image: url(../../img/icon-gnb-2-01.png);
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    padding-left: 28px
}

header.hospital > ul > li.referral > span {
    background-image: url(../../img/icon-gnb-2-02.png);
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    padding-left: 28px
}

header.hospital > ul > li.calculate > span {
    background-image: url(../../img/icon-gnb-2-03.png);
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    padding-left: 28px
}

header.hospital > ul > li.report > span {
    background-image: url(../../img/icon-gnb-2-04.png);
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    padding-left: 28px
}

header.hospital > ul > li.support > span {
    background-image: url(../../img/icon-gnb-06.png);
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    padding-left: 28px
}

header.hospital > ul > li:hover, header.hospital > ul > li.current {
    color: var(--white);
    background-color: var(--mainColor);
    opacity: 1 !important
}

header.hospital ul + menu {
    position: relative;
    height: 70px;
    line-height: 70px;
    margin-right: 60px;
    font-size: 16px;
    font-weight: 500;
    color: var(--white)
}

header.hospital ul + menu span {
    justify-content: end;
    display: flex;
    background-image: url(../../img/icon-user.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-top: 19px;
    margin-left: 8px
}

header.hospital ul + menu ul {
    display: none;
    min-width: 160px;
    position: absolute;
    right: 0;
    top: 65px;
    min-height: 142px !important;
    border-radius: 4px;
    background-color: var(--white);
    box-shadow: 0 0 1px var(--reGray2);
    z-index: 9999;
    padding: 25px 35px
}

header.hospital ul + menu ul::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 9998;
    right: 20px;
    top: -6px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--white);
    border-top: 0
}

header.hospital ul + menu:hover ul {
    display: block
}

header.hospital ul + menu ul > li:first-child {
    text-align: center;
    font-size: 15px;
    color: var(--mainColor);
    padding-bottom: 20px;
    line-height: 1.5;
    font-weight: 500
}

header.hospital ul + menu ul > li > a {
    text-align: center;
    font-size: 15px;
    color: var(--fontDefaultColor);
    padding-bottom: 20px;
    display: block;
    line-height: 1
}

header.hospital ul + menu ul > li:last-child > a {
    padding-bottom: 0
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: var(--reGray6);
    z-index: 9998
}

footer::after {
    content: 'PolestarHealthCare Co., Ltd.';
    font-size: 13px;
    font-weight: 400;
    color: var(--fontDefaultColor);
    border-top: 1px solid var(--reGray3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    z-index: 9999
}

.fileCustom {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px
}

.fileCustom input[type="file"] {
    position: relative;
    z-index: 2;
    height: 40px;
    width: 100%;
    opacity: 0;
    top: 0;
    cursor: pointer
}

.fileCustom label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--reGray3);
    padding: 0 12px;
    background-color: var(--white);
    line-height: 40px;
    color: var(--reGray) !important;
    font-weight: 400 !important
}

.fileCustom label::after {
    content: attr(data-browse);
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 3;
    height: 40px;
    border: 1px solid var(--reGray3);
    background-color: var(--reGray6);
    background-image: url(../../img/icon-add-doc.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    border-radius: 4px;
    padding: 0 20px 0 43px;
    line-height: 40px;
    font-size: 15px;
    color: var(--fontDefaultColor);
    font-weight: 500
}

input[type="text"].hospitalSelectBtn, input[type="text"].referralsBtn {
    width: 124px;
    height: 32px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 12px;
    font-size: 13px;
    font-weight: 400;
    color: var(--reGray);
    display: inline-flex;
    flex-wrap: nowrap;
    background-color: var(--white);
    border: 1px solid var(--reGray3);
    outline: none
}

input[type="text"].hospitalSelectBtn::placeholder, input[type="text"]:read-only::placeholder, select:disabled {
    color: var(--fontDefaultColor) !important;
    opacity: 1
}

input[type="text"].hospitalSelectBtn:read-only {
    background-color: var(--white) !important
}

#search-form .form select#use-yn ~ input[type="text"],
#edit-form .form select#use-yn ~ input[type="text"] {
    width: 155px !important
}

button.hospitalSelectBtn {
    width: 34px;
    height: 32px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-image: url(../../img/icon-add-doc.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-flex;
    flex-wrap: nowrap;
    background-color: var(--reGray6);
    border: 1px solid var(--reGray3);
    margin-left: -10px;
    outline: none
}

input[type="checkbox"] {
    display: none
}

input[type="checkbox"] + label {
    position: relative;
    display: block;
    float: left;
    cursor: pointer;
    height: 20px;
    width: calc(50% - 25px);
    padding-left: 25px;
    background: url(../../img/check-off.png) center left no-repeat;
    text-align: left
}

input[type="checkbox"]:checked + label::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../../img/manual-check-onl.png) center center no-repeat
}

input[type="radio"] {
    display: none
}

input[type="radio"] + label {
    position: relative;
    display: block;
    float: left;
    cursor: pointer;
    height: 20px;
    width: calc(50% - 25px);
    padding-left: 25px;
    background: url(../../img/radio-off.png) center left no-repeat;
    text-align: left
}

input[type="radio"]:checked + label::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../../img/radio-on.png) center center no-repeat
}

.invalid-feedback {
    font-size: 12px;
    font-weight: 400;
    color: var(--reWarning)
}

.valid-feedback {
    font-size: 12px;
    font-weight: 400;
    color: var(--valid)
}

.popupWrap {
    width: 100%;
    height: auto;
    padding: 0 36px 36px 36px
}

header.popup {
    width: 100%;
    height: 56px;
    height: 56px;
    background-color: var(--popupHeader);
    margin-bottom: 32px;
    padding: 0 36px;
    position: fixed;
    z-index: 9999;
    top: 0
}

header.popup h1 {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    line-height: 56px
}

header.popup button {
    width: 20px;
    height: 20px;
    margin-top: 18px;
    background-image: url(../../img/icon-close.png);
    background-position: center center;
    background-repeat: no-repeat;
    outline: none;
    border: 0
}

.modal {
    z-index: 9996;
    background-color: rgba(0, 0, 0, .5)
}

.modal-dialog {
    min-width: 400px !important
}

.modal-header {
    width: 100%;
    height: 56px;
    background-color: var(--popupHeader);
    border-bottom: 0 !important;
    padding: 0 36px !important;
    margin-bottom: 36px
}

.modal-header h1 {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    line-height: 56px;
    justify-content: start
}

.modal-header button {
    width: 20px;
    height: 20px;
    margin-top: 18px;
    background-image: url(../../img/icon-close.png);
    background-position: center center;
    background-repeat: no-repeat;
    outline: none;
    border: 0;
    justify-content: end;
    margin-left: auto
}

.modal-body {
    padding: 0 36px
}

.modal-footer, .refferalDetailCont {
    padding: 22px 36px 32px 36px;
    border-top: 0 !important
}

.modal-footer button {
    width: 176px;
    height: 48px;
    border: 1px solid var(--reGray2);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    color: var(--reGray2);
    text-align: center;
    line-height: 48px;
    background-color: var(--white);
    outline: none
}

.modal-footer button#btn-save-WorkingTime {
    margin-left: 8px;
    background-color: var(--mainColor) !important;
    border: 1px solid var(--mainColor);
    color: var(--white) !important
}

.modal-body #sendHospital-search-name {
    width: 336px;
    height: 32px;
    border-radius: 4px;
    background-image: url(../../img/icon-search-input.png);
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
    border: 1px solid var(--reGray3);
    padding-left: 12px;
    color: var(--reGray);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 12px
}

.modal-body #content-sendHospital-table {
    width: 100%
}

#hospitalApprovePopupModal input[type="text"]:read-only, #hospitalApproveModal input[type="text"]:read-only, #hospitalDenyModal input[type="text"]:read-only, .form input[type="text"]:read-only, .refferalDetailCont input[type="text"]:read-only, .refferalDetailCont textarea {
    height: 32px;
    background-color: var(--disableBg);
    font-size: 13px;
    font-weight: 400;
    color: var(--fontDefaultColor);
    padding: 0 12px;
    text-align: left;
    outline: none
}

.refferalDetailCont input[type="text"]:not(.col-4), .refferalDetailCont hr ~ *:nth-child(n+4):not(label):not(input):not(hr).col-8 {
    max-width: 73% !important;
    width: 100%
}

.refferalDetailCont textarea {
    height: 62px;
    padding: 12px;
    width: 100%;
    resize: none
}

.refferalDetailCont textarea#study-info-read-cont {
    max-width: 73%
}

#setRemoteDrWorkingTimeModal .modal-dialog {
    width: 524px
}

#selectSendHospitalModal .modal-dialog {
    width: 400px
}

#duplicateRequestModal .modal-dialog, #changeStatusRequestModal .modal-dialog, #changeStudyTypeRequestModal .modal-dialog, #changeUrgentTypeRequestModal .modal-dialog, #changeUseYnRequestModal .modal-dialog {
    width: 1140px !important;
    min-width: 1140px !important
}

#hospitalApprovePopupModal .modal-dialog, #hospitalApproveModal .modal-dialog, #hospitalDenyModal .modal-dialog {
    width: 882px;
    min-width: 882px !important
}

#page_content {
    position: relative;
    top: 70px;
    padding: 25px 0
}

#page_content.contentWrap > main {
    width: 1320px;
    margin: 0 auto
}

#page_content.contentWrap > main nav {
    font-size: 15px;
    color: var(--fontDefaultColor);
    font-weight: 500;
    margin-bottom: 15px;
    text-align: lefts
}

#page_content.contentWrap > main nav > span {
    font-size: 15px;
    color: var(--mainColor);
    font-weight: 500
}

#page_content.contentWrap > main #search-form,
#page_content.contentWrap > main #edit-form {
    margin-bottom: 18px
}

#page_content.contentWrap > main #search-form menu,
#page_content.contentWrap > main #edit-form menu {
    display: inline-flex
}

#page_content.contentWrap > main #search-form menu > h1,
#page_content.contentWrap > main #edit-form menu > h1 {
    min-width: 216px;
    height: 42px;
    background-color: var(--tabBgGray);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    line-height: 42px;
    font-size: 15px;
    font-weight: 500;
    color: var(--tabGray);
    cursor: pointer
}

#page_content.contentWrap > main #search-form menu > h1.current,
#page_content.contentWrap > main #edit-form menu > h1.current {
    background-color: var(--white);
    box-shadow: 2px 2px 2px var(--reGray5);
    color: var(--tabBlue)
}

#page_content.contentWrap > main #search-form menu > h1 + h1,
#page_content.contentWrap > main #edit-form menu > h1 + h1 {
    margin-left: 8px
}

#page_content.contentWrap > main #search-form menu.statistics > h1,
#page_content.contentWrap > main #edit-form menu.statistics > h1 {
    min-width: 139.5px !important
}

#page_content.contentWrap form#search-form > .form, .dataTbWrap, .refferalDetailCont,
#page_content.contentWrap form#edit-form > .form, .dataTbWrap, .refferalDetailCont {
    width: 100%;
    min-height: 100px;
    padding: 24px 36px;
    position: relative;
    top: -2px;
    z-index: 800;
    background-color: var(--white);
    box-shadow: 2px 2px 2px var(--reGray5);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    flex-wrap: wrap;
    margin-bottom: 16px
}

.refferalDetailCont {
    padding: 25px 20px
}

.notarrangeWrap {
    width: 1248px;
    min-height: 100px;
    position: relative;
    top: -2px;
    z-index: 800;
    background-color: var(--white);
    flex-wrap: wrap;
    margin-bottom: 16px
}

#page_content.contentWrap form#search-form > .form button.reset, .refferalDetailCont button,
#page_content.contentWrap form#edit-form > .form button.reset, .refferalDetailCont button {
    width: 140px;
    height: 40px;
    text-align: left;
    background-image: url(../../img/icon-reset.png);
    background-position: 18px center;
    background-repeat: no-repeat;
    padding-left: 42px;
    border: 1px solid var(--popupHeader);
    border-radius: 4px;
    color: var(--popupHeader);
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px
}

#page_content.contentWrap form#search-form > .form button.reset + button, .refferalDetailCont button + button,
#page_content.contentWrap form#edit-form > .form button.reset + button, .refferalDetailCont button + button {
    width: 140px;
    height: 40px;
    background-color: var(--popupHeader);
    background-image: url(../../img/icon-search.png);
    color: var(--white);
    margin-left: 8px;
    background-position: 25px center;
    background-repeat: no-repeat;
    padding-left: 36px;
    border: 1px solid var(--popupHeader);
    border-radius: 4px;
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px
}

#page_content.contentWrap form#search-form > .form button.download {
    width: 140px;
    height: 40px;
    background-color: var(--white);
    background-image: url(../../img/icon-download.png);
    color: var(--popupHeader);
    margin-left: 8px;
    background-position: 25px center;
    background-repeat: no-repeat;
    padding-left: 36px;
    border: 1px solid var(--popupHeader);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px
}

.refferalDetailCont button, .refferalDetailCont button + button {
    background-image: none;
    text-align: center;
    padding-left: 0
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px !important
}

.dataTbWrap h3 {
    font-size: 15px;
    color: var(--popupHeader);
    font-weight: 400;
    margin-bottom: 8px
}

.dataTbBtn {
    min-width: 48px;
    height: 32px;
    background-color: var(--reGray6);
    border: 1px solid var(--reGray3);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    color: var(--fontDefaultColor);
    margin-right: 8px;
    outline: none;
    padding: 0 10px
}

.dataTbBtn:last-child {
    margin-right: 0
}

.dataTbBtn.blue {
    background-color: var(--popupHeader);
    border: 1px solid var(--popupHeader);
    color: var(--white)
}

.dataTbInBtn {
    padding: 4px 12px;
    border: 1px solid var(--reGray3);
    background-color: var(--reGray6);
    font-size: 12px;
    font-weight: 500;
    color: var(--fontDefaultColor);
    border-radius: 4px;
    outline: none
}

.dataTbInBtn.blue {
    border: 1px solid var(--popupHeader);
    background-color: var(--white);
    color: var(--popupHeader)
}

#rowCount {
    width: 160px;
    height: 32px;
    background-color: var(--reGray6);
    border: 1px solid var(--reGray3);
    padding-left: 12px;
    font-size: 13px;
    font-weight: 400;
    color: var(--fontDefaultColor);
    margin-left: 8px;
    background-image: url(../../img/arrow-00.png);
    background-position: calc(100% - 8px) center;
    background-repeat: no-repeat;
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none
}

.searchNum, .chkNum {
    font-size: 13px;
    font-weight: 400;
    color: var(--popupHeader)
}

.table-responsive:not(#notarrange-table-viewport) {
    margin-top: 8px
}

.table-responsive table {
    width: auto !important
}

.table-responsive table td, .modal-body table td, .dataTables_wrapper table td {
    font-family: 'ë§‘ì€ ê³ ë”•', 'sans-serif';
    font-size: 13px;
    color: var(--fontDefaultColor) !important;
    white-space: nowrap
}

.table-responsive table thead th, .modal-body table thead th, #weeklyMoalityTable thead th, #modalityRule-list-table thead th, #hospital-list-table thead th, #contract-list-table thead th, #localReadingDr-list-table thead th, #notice-list-table thead th, #tat-list-table thead th, #referral-report-table th {
    background-color: var(--dTbThColor) !important;
    border-bottom: 0;
    padding: 12px !important;
    position: relative;
    white-space: nowrap
}

.modal-body table thead th, #modalityRule-list-table thead th {
    padding: 0 !important
}

.table-responsive table thead th::after, .modal-body table thead th::after, #hospital-list-table thead th::after, #contract-list-table thead th::after, #localReadingDr-list-table thead th::after, #notice-list-table thead th::after, #referral-report-table th::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 21px;
    width: 1px;
    height: 12px;
    background-color: var(--reGray3);
    z-index: 9990
}

#weeklyMoalityTable thead > tr th, #modalityRule-list-table thead > tr th {
    border-bottom: 1px solid var(--reGray3) !important
}

#weeklyMoalityTable thead > tr th::after, #modalityRule-list-table thead > tr th::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0px !important;
    width: 1px;
    height: 40px;
    background-color: var(--reGray3);
    z-index: 9990
}

#weeklyMoalityTable thead > tr:first-child th:first-child::after, #modalityRule-list-table thead > tr:first-child th:first-child::after, #modalityRule-list-table thead > tr:first-child th:nth-child(3)::after {
    height: 80px !important
}

.table-responsive table:not(#reject-table) thead th:first-child::after, .table-responsive table thead th:last-child::after, .modal-body table thead th:first-child::after, .modal-body table thead th:last-child::after, #localReadingDr-list-table thead th:last-child::after, #notice-list-table thead th:last-child::after, #hospital-list-table_wrapper table thead th:last-child::after, #contract-list-table thead th:last-child::after, #referral-report-table th:first-child::after, #referral-report-table th:last-child::after {
    display: none
}

.table-responsive table thead th:first-child {
    padding: 0
}

.table-responsive table tbody tr > td:first-child {
    text-align: center
}

.table-responsive table tbody tr > td {
    vertical-align: middle
}

.table-responsive table input[type="checkbox"] + label, .modal-bodu table input[type="checkbox"] + label {
    float: none;
    margin: 3px auto
}

#pagination-content, .chkNum {
    margin-top: 14px
}

menu ~ .dataTbForm #pagination-content {
    margin-bottom: 68px
}

menu ~ .dataTbForm #hospital-list-table_wrapper ~ #pagination-content {
    margin-bottom: 35px
}

menu ~ .dataTbForm #tat-list-table_wrapper ~ #pagination-content, #notarrange-table-viewport ~ #pagination-content {
    margin-bottom: 0
}

#pagination-content {
    margin-bottom: 110px
}

.page-item > button {
    font-size: 13px;
    font-weight: 500;
    color: var(--fontDefaultColor) !important;
    border: 0
}

.page-item.active button {
    background-color: var(--reGray6) !important;
    border: 1px solid var(--reGray6) !important;
    border-radius: 4px
}

.dataTbForm {
    display: none
}

table tr.odd td {
    background-color: var(--oddBg)
}

table.dataTable tbody td.dataTables_empty {
    padding: 15px 0 !important;
    background-color: var(--white) !important;
    border-bottom: 1px solid var(--reGray4)
}

.fileDownload {
    width: 20px;
    height: 20px;
    background-image: url(../../img/icon-download.png);
    background-position: center center;
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto
}

hr {
    background-color: var(--reGray4);
    width: 100%;
    height: 1px;
    border: 0;
    line-height: 0;
    margin: 12px auto
}